.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}

.Header {
  background: #183474;
  color:#fff;
}

.Content {
  margin:4px 0px 4px 0px;
  height:100%;
}
